<VirtualHost *:80>
    ServerName {{ hostvars[inventory_hostname].domain_name }}
    DocumentRoot /var/www/{{ hostvars[inventory_hostname].domain_name }}

    <Directory /var/www/{{ hostvars[inventory_hostname].domain_name }}>
            AllowOverride All
    </Directory>

    ErrorLog /var/log/httpd/{{ hostvars[inventory_hostname].domain_name }}-error.log
    LogLevel warn
    CustomLog /var/log/httpd/{{ hostvars[inventory_hostname].domain_name }}-access.log combined
</VirtualHost>